body{
  margin: 0;
}
.game{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-board {
	width: 30vw;
	height: 30vw;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: .5vw solid #2c3e50;
  border-radius: 1vw;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.pos{
  border: .4vw solid #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  cursor: pointer;
  width: 95%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

img {
  display:inline-block;
  vertical-align:middle;
  width: 5vw;
}

@font-face {
  src: url("../fonts/Bebas-Regular.ttf") format('truetype');
  font-family: netflix;
}
h1 {
  display:inline-block;
  vertical-align:middle;
  margin: 0;
  font-size: 4.2vw;
  font-family: netflix;
  letter-spacing: .8vw;
  padding-left: 1.2vw;
}

#turns{
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: -1;
}

#x-turn{
  display: flex;
  transition: opacity 0.3s ease-in-out;
  margin-right: 25vw;
  opacity: 25%;
}

#o-turn{
  display: flex;
  transition: opacity 0.3s ease-in-out;
  margin-left: 25vw;
  opacity: 25%;
}

#menu-parent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#menu {
  width: 40vw; 
  height: 25vw;
  background: #2c3e50;
  border-radius: 3vw;
  text-align:center;
}

#gamemode-coop {
  height: 6vw;
  width: 12vw;
  color: white;
  font-size: 3.5vw;
  font-family: netflix;
  letter-spacing: .2vw;
  margin-top: 5vw;
  margin-right: 6vw;
  background: #394f64;
  border: .3vw solid white;
  border-radius: 1vw;
}

#gamemode-coop:hover {
  background: #293a49;
}

#gamemode-ai {
  height: 6vw;
  width: 12vw;
  color: white;
  font-size: 3.5vw;
  font-family: netflix;
  letter-spacing: .2vw;
  background: #394f64;
  border: .3vw solid white;
  border-radius: 1vw;
}

#gamemode-ai:hover {
  background: #293a49;
}

#choose-parent{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  visibility: hidden;
}

#choose{
  width: 40vw; 
  height: 25vw;
  background: #2c3e50;
  border-radius: 3vw;
}

h2{
  margin: 0;
  font-size: 5.5vw;
  font-family: netflix;
  letter-spacing: .7vw;
  text-align: center;
  color: white;
  padding-top: 3vw;
}

.img-choose{
  margin-top: 2vw;
  width: 10vw;
  cursor: pointer;
}

#choose-x {
  position: relative;
  display: inline-block; 
  left: 25%; 
  transform: translate(-50%);
}

#choose-x:hover {
  border-radius: 1vw;
  background: #22303d;
}

#choose-o {
  position: relative;
  display: inline-block; 
  left: 50%; 
  transform: translate(-50%);
}

#choose-o:hover {
  border-radius: 1vw;
  background: #22303d;
}

#victory-parent{
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#victory{
  width: 40vw; 
  height: 25vw;
  background: #2c3e50;
  border-radius: 3vw;
}

#playerVictory{
  float: left;
  width: 10vw;
  margin-top: 18%;
  margin-left: 3vw;
}

#victoryTitle{
  margin: 0;
  font-size: 6vw;
  font-family: netflix;
  letter-spacing: .5vw;
  text-align: center;
  color: white;
  padding-top: 22%;
}

#tie-parent{
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#tie{
  width: 40vw; 
  height: 25vw;
  background: #2c3e50;
  border-radius: 3vw;
  text-align: center;
}

#tieTitle{
  margin: 0;
  font-size: 6vw;
  font-family: netflix;
  letter-spacing: .5vw;
  text-align: center;
  color: white;
  padding-top: 20%;
}

span{
  position: relative;
  display: inline-flex;
  width: 15vw;
  height: 5vw;
  perspective: 100vw;
  margin-top: 3vw;
}

span a{
  font-size: 2vw;
  letter-spacing: .2vw;
  transform-style: preserve-3d;
  transform: translateZ(-35px);
  transition: transform .25s;
  font-family: netflix;
}

span a:before,
span a:after{
  position: absolute;
  content: "TRY AGAIN";
  height: 4.2vw;
  width: 11vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .3vw solid #1a2430;
  box-sizing: border-box;
  border-radius: .3vw;
}

span a:before{
  color: #fff;
  background: #243241;
  transform: rotateY(0deg) translateZ(2vw);
}

span a:after{
  color: #000;
  background: white;
  transform: rotateX(90deg) translateZ(2vw);
}

span a:hover{
  transform: translateZ(-2vw) rotateX(-90deg);
}

#victory span a{
  margin-left: 1.15em;
}

#tie span a{
  margin-left: 2.2vw;
}

#victory-btn {
  margin-top: 3vw;
}

#lines{
  position: absolute;
  pointer-events: none;
}

#line-top-hori{
  float: left;
  height: .4vw;
  width: 28vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-top: 4.3vw;
  margin-left: .9vw;
  visibility: hidden;
}

#line-mid-hori{
  float: left;
  height: .4vw;
  width: 28vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-top: 9.3vw;
  margin-left: .9vw;
  visibility: hidden;
}

#line-bottom-hori{
  float: left;
  height: .4vw;
  width: 28vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-top: 9vw;
  margin-left: .9vw;
  visibility: hidden;
}

#line-left-ver{
  position: absolute;
  float: left;
  height: 28vw;
  width: .4vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-left: 4.7vw;
  margin-top: .7vw;
  visibility: hidden;
}

#line-mid-ver{
  position: absolute;
  float: left;
  height: 28vw;
  width: .4vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-left: 14.7vw;
  margin-top: .7vw;
  visibility: hidden;
}

#line-right-ver{
  position: absolute;
  float: left;
  height: 28vw;
  width: .4vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-left: 24.7vw;
  margin-top: .7vw;
  visibility: hidden;
}

#line-up-down-dig{
  position: absolute;
  float: left;
  height: 35vw;
  width: .4vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-left: 14.5vw;
  margin-top: -3vw;
  transform: rotate(-45deg);
  visibility: hidden;
}

#line-down-up-dig{
  position: absolute;
  float: left;
  height: 35vw;
  width: .4vw;
  background: red;
  border: .3vw solid rgb(179, 0, 0);
  border-radius: .5vw;
  margin-left: 14.9vw;
  margin-top: -3vw;
  transform: rotate(45deg);
  visibility: hidden;
}